.balao {
  background: white;
  color: black;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  font-size: 1rem;
}

.balao::after {
  content: '';
  position: absolute;
  right: -20px;
  top: 20px;
  border-width: 10px 0 10px 20px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}

.opcoes button {
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 1rem;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
}

.opcoes button:hover {
  background: white;
  color: black;
}
