body {
  background-color: #111;
  color: white;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

.container-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
}

.lado-esquerdo {
  flex: 2;
  min-width: 300px;
}

.lado-direito {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.conteudo {
  margin-top: 30px;
  background: #222;
  padding: 20px;
  border-radius: 10px;
}
.voltar {
  margin-top: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.2s;
}

.voltar:hover {
  background: white;
  color: black;
}
